# Experimenting with the simulated data

In [3]:
from transit_system import TransitSystem
import numpy as np
import pandas as pd
import pickle as pkl

In [4]:
seeds = [7594897, 8032337, 3297648]

datas = []
analysis_interval_sec = 30
analysis_period_days = 5
hours_of_opperation_per_day = 18

for num_busses_per_route in [1, 5, 10]:
    for seed in seeds:
        transit_system = TransitSystem(
            analysis_period_sec=analysis_interval_sec,
            num_busses_per_route=num_busses_per_route,
            hours_of_opperation_per_day=hours_of_opperation_per_day,
            min_bus_capacity=10000,
            max_bus_capacity=50000,
            seed=seed,
        )

        for i in range(0, hours_of_opperation_per_day * 3600, analysis_interval_sec):
            for j in range(analysis_period_days):
                transit_system.step(i)

    datas.append(pd.read_csv("logs/passenger_logs.csv", low_memory=False))

with open("data.pkl", "wb") as file:
    pkl.dump(datas, file)

In [ ]:
# took 70 mins to run
with open("data.pkl", "rb") as file:
    data = pkl.load(file)

In [12]:
for i in range(len(data)):
    print(f"number of passengres served in 5 days by {[1, 5, 10][i]} buses per route per direction", data[i].shape[0])
    display(data[i].groupby("num_transfers")[
    [
        "waiting_time",
        "travel_time",
        "distance_traversed",
        "total_time_taken",
        "num_stations_traversed",
    ]
    ].median())

number of passengres served in 5 days by 1 buses per route per direction 288818

,waiting_time,travel_time,distance_traversed,total_time_taken,num_stations_traversed
num_transfers,,,,,
0,750.0,480.0,41065.0,1290.0,8.0
1,720.0,1200.0,65538.0,1890.0,13.0
2,390.0,1110.0,63431.0,1620.0,13.0

number of passengres served in 5 days by 5 buses per route per direction 578610

,waiting_time,travel_time,distance_traversed,total_time_taken,num_stations_traversed
num_transfers,,,,,
0,510.0,480.0,41065.0,1080.0,8.0
1,450.0,1200.0,65538.0,1710.0,13.0
2,210.0,1110.0,63431.0,1470.0,13.0

number of passengres served in 5 days by 10 buses per route per direction 868579

,waiting_time,travel_time,distance_traversed,total_time_taken,num_stations_traversed
num_transfers,,,,,
0,360.0,480.0,41065.0,990.0,8.0
1,330.0,1200.0,65538.0,1590.0,13.0
2,135.0,1110.0,64082.0,1410.0,13.0